body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-size: 90%;}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	min-height: 100vh; /* 设置body的最小高度为视口高度 */
}
header {
	max-width: 1200px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.name-color {
	color: #9b0d31; /* 您想要的颜色 */
	}
h1 a{
	display: flex;
	align-items: center; /* 垂直居中 */
	font-size: 0.6em;
	text-decoration: none;
}
.language-icon {
	align-items: center;
	display: flex;
	padding: 20px 0;
    width: 30px; /* 或其他您需要的大小 */
}
nav {
	display: flex;
	align-items: center; /* 垂直居中 */
}
nav a {
	text-decoration: none;
	color: #333;
	margin: 0 10px;
}
nav a:hover {
	color: #9b0d31;
}
footer {
	text-align: center;
	font-size: 0.8em; /* 调整字体大小 */
	padding: 20px 0;
	color: #9b0d31;
}
.active {
	font-weight: bold;
	color: #9b0d31; /* 设置为强调色，与网站主题一致 */
	/* 您可以根据需要添加更多样式，如背景色、边框等 */
}
@media screen and (max-width: 800px) {
	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	nav a {
		margin: 1px 0;
	}
}
.clstrm_outer {
    width: 50px;
}