body {
	font-family: "Noto Sans SC", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-size: 95%;
}
b{
	font-weight: 500;
}
p{
	font-size: 1em;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	min-height: 80vh; /* 设置body的最小高度为视口高度 */
}
#tan_logo {
	display: none;
}
.profile {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative; /* 添加相对定位 */
}
.icon-container {
	position: absolute; /* 绝对定位 */
	top: 15px; /* 容器顶部对齐 */
	right: 15px; /* 容器右侧对齐 */
	display: flex; /* 使用 Flexbox 布局 */
	gap: 5px; /* 图标之间的间隔 */
}
.profile img{
	width: 150px;
	margin-right: 20px;
	border-radius: 3px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影 */
}
.profile h2 {
	margin: 0;
	font-size: 1em;
	color: #9b0d31;
}
h3 {
	font-size: 1em;
	color: #9b0d31;
}
.profile p {
	margin: 5px 0;
}
.profile a {
    text-decoration: none; /* 删除下划线 */
    color: inherit; /* 恢复默认字体颜色 */
}
.profile i {
	margin-right: 8px; /* 添加右边距以在图标和文本之间留出空间 */
	color: #9b0d31; /* 设置图标颜色 */

}
.icon-text {
	display: flex; /* 使用 Flexbox 布局 */
	align-items: center; /* 垂直居中对齐 */
	gap: 8px; /* 图标和文字之间的间距 */
}
header {
	max-width: 1200px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.name-color {
	color: #9b0d31; /* 您想要的颜色 */
	}
h1 a{
	display: flex;
	align-items: center; /* 垂直居中 */
	font-size: 0.6em;
	text-decoration: none;
}
.researchdirection {
    display: block; /* 或者使用 inline-block，这取决于元素的类型 */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
}
.news-table{
	font-size: 1em;
}
.color-bar {
	display: inline-block;
	width: 3px; /* 色块宽度 */
	height: 0.8em; /* 与文字高度一致 */
	background-color: #9b0d31; /* 色块颜色 */
	margin-right: 10px; /* 色块与文字的间距 */
}
.language-icon {
	align-items: center;
	display: flex;
	padding: 20px 0;
    width: 30px; /* 或其他您需要的大小 */
}
nav {
	display: flex;
	align-items: center; /* 垂直居中 */
}
nav a {
	text-decoration: none;
	color: #333;
	margin: 0 10px;
}
nav a:hover {
	color: #9b0d31;
}
.information a:hover {
	color: #9b0d31
}
footer {
	height: 50px; /* 设置高度 */
	text-align: center;
	font-size: 0.8em; /* 调整字体大小 */
	padding: 20px 20px;
}
.active {
	font-weight: bold;
	color: #9b0d31; /* 设置为强调色，与网站主题一致 */
	/* 您可以根据需要添加更多样式，如背景色、边框等 */
}
@media screen and (max-width: 1300px) {
	header h1{
		margin-left: 30px;
	}
	nav {
		display:flex;
		flex-direction: column;
		align-items: center;
		margin-right: 50px;
	}
	nav a {
		margin: 1px 0;
	}
	.profile img{
		display: none;
	}
	#tan_logo {
		display: block;
		width: 100px;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影 */
	}
	.information{
		margin-top: 30px;
	}
	.researchdirection{
		display: none;
	}
}
