@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #1f242d;
}

.logo {
    font-size: 25px;
    color: #B7A37F;
    text-decoration: none;
    font-weight: 200;
    cursor: default;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: #B7A37F;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    background: #1f242d;

}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #B7A37F;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.home-content a:hover{
    color: #B7A37F;
}

.home-img img {
    max-width: 450px;
    border-radius: 50%;
    margin-right: -20px;
    box-shadow: 0 0 20px #B7A37F;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #B7A37F;
    border-radius: 50%;
    color: #B7A37F;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
    background: #B7A37F;
    color: #1f242d;
    box-shadow: 0 0 20px #B7A37F;
}

.infomation{
    color: #1f242d;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #e3e6ec;
}

.infomation-description{
    padding-top: 2%;
    height: 40%;
    width: 100%;
    padding-left: 10%;
}

.infomation-photo{
    height: 60%;
    width: 40%;
    padding-left: 10%;
    float: left;
}

.infomation-photo img{
    width: 280px;
    position: absolute;
    bottom: 0;
}

.infomation-new{
    height: 60%;
    width: 60%;
    float: left;
    font-weight: 500;
}

.infomation-new ul{
    padding-left: 10px;
}

.infomation h3{
    font-size: 32px;
    font-weight: 700;
    color: #956d23;
}

.infomation i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #956d23
}

.infomation a{
    font-size: 16px;
    color:#1f242d;
    text-decoration: none;
    text-align: center;
}
.publication{
    color: #fff;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f242d;
}

.publication-description{
    width: 80%;
    margin-left: auto;
    margin-right: auto;    
    margin-top: 10px;
}

.publication-description p{
    margin-top: 10px;
    font-weight: 300;
}
.publication-description a{
    color: #fff;
    text-decoration: none;
}


.photo{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.photo-description{
    width: 20%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;    
    padding-top: 10px;
    padding-left: 10px;
    color: #1f242d;

}

.swipe{
    /* 相对定位 */
    position: relative;
    width: 100%;
    /* 溢出隐藏 */
    overflow: hidden;
}
/* 模糊背景 */
.swipe .bg{
    /* 绝对定位 */
    position: absolute;
    width: 200%;
    height: 100%;
    z-index: 1;
    background-size: 6000px;
    background-position: center center;
    /* 模糊滤镜 */
    filter: blur(140px);
}
/* 图片区域 */
.swipe section{
    position: relative;
    z-index: 2;
    max-width: 1200px;
    height: 80vh;
    /* 居中 */
    margin: 0 auto;
}
/* 图片盒子 */
.swipe .img-box{
    width: 100%;
    height: 100%;
}
/* 图片 */
.swipe .img-box .img{
    width: 100%;
    height: 100%;
    /* 保持原有尺寸比例, 裁切长边 */
    object-fit: cover;
}
/* 指示器 */
.swipe .select{
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    bottom: 20px;
    text-align: center;
}
.swipe .select .item{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 10px;
    /* 阴影 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
/* 鼠标移入指示器 */
.swipe .select .item:hover{
    background-color: #ff4400;
}
/* 指示器选中状态 */
.swipe .select .item.checked{
    background-color: #ff4400;
}
/* 两侧翻页按钮 */
.swipe .btn{
    width: 40px;
    height: 100px;
    color: #fff;
    /* 绝对定位 垂直居中 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    background-color: rgba(0,0,0,0.05);
    /* 弹性布局 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    /* 鼠标移入光标变小手 */
    cursor: pointer;
    /* 动画过渡 */
    transition: 0.3s;
}
.swipe .btn.left{
    left: -60px;
}
.swipe .btn.right{
    right: -60px;
}
.swipe .btn:hover{
    background-color: rgba(0,0,0,0.2);
}

/* 响应式 屏幕尺寸小于1620px时以下代码生效(让两个按钮移动到图片主体内部) */
@media screen and (max-width:1620px){
    .swipe .btn.left{
        left: 20px;
    }
    .swipe .btn.right{
        right: 20px;
    }
}

.pub{
    position: relative;
    width: 100%;
    align-items: center;
    padding: 100px 10% 0;
    color: #1f242d;
    background: #e3e6ec;
    height: 180vh;
}

.pub ol{
    padding-left: 30px;
    font-weight: 200;
}

.pub a{
    color: #1f242d;
    text-decoration: none;
}

.pho{
    width: 100%;
    padding: 100px 10% 0;
    padding-left: auto;
    padding-right: auto;
    max-width: 100%;
    column-count: 3;
    column-gap: 5px;
}

.pho-img{
    margin-bottom: 30px;
}
.pho-image img{
    width: 100%;
}
.pho p{
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
}
@media (max-width:1000){
    .pho{
        column-count: 2;
    }
}
@media (max-width:600){
    .pho{
        column-count: 1;
    }
}

.footer{
    text-align: center;
    font-size: 10px;
}



/* 动画 */

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}